<form method="post" action="{{ path('app_keyword_delete', {'id': keyword.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce mot clé ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ keyword.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
