{% extends 'base.html.twig' %}

{% block title %}Edit Link{% endblock %}

{% block body %}
    <h1>Modifier le lien</h1>

    {{ include('link/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_link_index') }}" class="btn btn-secondary">Retour à la liste</a>

    {{ include('link/_delete_form.html.twig') }}
{% endblock %}
