{% extends 'base.html.twig' %}

{% block title %}New Link{% endblock %}

{% block body %}
    <h1>Ajouter un lien</h1>

    {{ include('link/_form.html.twig') }}

    <a href="{{ path('app_link_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
