{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1>Blog - Links</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lien_url</th>
                <th>Lien_titre</th>
                <th>Lien_desc</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td>{{ link.lienUrl }}</td>
                <td>{{ link.lienTitre }}</td>
                <td>{{ link.lienDesc }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
